$primarycolor: black;
$secondarycolor: blue;

$font: "hanken-grotesk";
$bluecolor: rgb(174, 187, 228);

.navbar {
  .container {
  }

  &__logo {
    margin-left: 50px;
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          text-decoration: none;
          transition: color 0.3s;
          font-family: sans-serif;
          font-size: 17px;

          &:hover {
            color: #1971cf;
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: 0.25rem;
          box-shadow: white;
          z-index: 1000;

          .dropdown-item {
            padding: 0.5rem 1rem;
            color: #333;
            text-decoration: none;
            white-space: nowrap;
            

            &:hover {
              background-color: #f8f9fa;
              color: #007bff;
              display: block;
            }
          }
        }

        &:hover .dropdown-menu {
          display: block;
        }
      
      }
    }
  }

  .btn {
    &.btn-primary {
      margin-right: 80px;
      font-family: serif;
      background-color: #335eea;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      transition: background-color 0.3s;
      
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}


.container {
  .row {
    margin-top: 60px;
    .col {
      margin-top: 70px;
      .title {
        .textt {
          color:#335eea;
        }
        .para {
        }
      }
      .buttons{
        .btn1{
          background-color: #335eea;
          color: white;
        }
        .btn2{
          background-color: #eaeffd;
        }
      }
    }
  }
  .col {
    margin-left: 40px;
    .image {
      height: 413px;
      width: 624px;
    }
  }
}


.container{
  .row{
    .col{

    }

    .col{
      .heading{
        margin-top: 150px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 35px;

        .head{
          color:rgba(66, 186, 150, 1);
          .typed-text{
            
            font-size: 2em;
      font-family: 'Courier New', monospace;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid black;
      display: inline-block;
          }
        }
      }
      .para{
        font-size:20px;
        color:rgb(134, 154, 184);
      }

      .row{
        margin-top:20px;
        margin-right: 30px;
        .col{
          
        }
        .col{

        }
        .row{
          margin-top: 20px;
        }
      }
    }
  }
}


.container{
  .row{
    .col{

    }
    .col{
      .container-fluid.p-5{
        .slanted-image-wrapper {
        
          
        
        }
        .slanted-image {
          width: 120%;
          transform: rotateY(-30deg);
          border-radius: 10px;
          box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, .1), 16px 40px 75px -40px rgba(0, 0, 0, .2);
        }
        
      }
    }
  }
}


.container{
  .row{
    .col{

    }
    .col.text-reset:hover{
      text-decoration: underline;    
    }
  }
}